/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

ul li:hover{
    color: #4086f4;
    border-bottom:3px solid #4086f4;
}

li ol {
    list-style: lower-alpha ;
}

li,
p{
    padding: 15px;
}

p{
    font-size: .95rem;
}

img{
    height: 40px; 
}

main{
    max-width: 992px;
    margin: 0 auto;
}


.active{
    color: #4086f4;
    border-bottom:3px solid #4086f4;
}



.logo-title{
    padding: 15px;
}

.logo-title h2{
    padding-left: 10px;
}

#main-nav ul{
    padding: 0;
    border-bottom: 1px solid lightgrey;
}

#main-nav li{
    cursor: pointer;
}